@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  overflow: hidden;
  text-transform: capitalize;
}
.videos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow: auto;
  height: 100vh;
  padding: 20px;
  gap: 50px;
}
*::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #818080;
}

.detail-page {
  display: grid;
  grid-template-columns: auto 400px;
}

@media (max-width: 1000px) {
  .detail-page {
    grid-template-columns: 1fr;
  }
}
.row{
  display: grid;
  grid-template-columns: 340px auto;
  align-items: center;
  gap: 20px;
}
.row div:nth-child(2) img{
  display: none;
}
.row p{
  font-size: 13px;
}
.wrapper{
  container-type: inline-size;
}
@container(max-width:800px){
  .row{
    grid-template-columns: 140px auto;
  }
  .row h4{
    font-size: 20px;
  }
  .row p{
    font-size: 12px;
  }
}